<h1>Contact Page</h1>

{{input type="email" value=emailAddress class="form-control" placeholder="Please type your e-mail address." autofocus="autofocus"}}
<br>

{{textarea class="form-control" placeholder="Your message. (At least 5 characters.)" rows="7" value=message}}

<br>

<button disabled={{isDisabled}} {{action 'sendMesage'}}  class="btn btn-primary btn-lg btn-block">Send Mesage</button>

<br>
{{#if responseMessage}}
	 <div class="alert alert-success">{{responseMessage}}</div>
{{/if}}


{{outlet}}
